body{
    background-color: #D9CAB3;
    text-align: center;
}

div{
    font-size: 6vmin;
    display: inline-block;
    color: #90323D;
    margin-top : 3%;
    margin-right: 3%;
    margin-left: 3%;
    font-family: "Cookie", serif;
}

h1{
    margin: 50px;
    font-family: 'Cookie' , serif;
    font-size: 20vmin;
    color: #90323D;
}